@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background: url('./image/performance.jpg') center/cover no-repeat;
  font-family: 'Indie Flower', cursive;
}

.keys {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  transition: all 200ms ease-in-out;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: bolder;
}

.key kbd {
  color: rgb(249, 215, 202);
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

.key span {
  color: lightgreen;
  font-size: 10px;
}

.playing {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.4);
  border-color: lightgreen;
  box-shadow: 0 0 10px lightgreen;
}

@media screen and (min-width: 750px) {
  .key {
    flex-wrap: wrap;
    width: 65px;
    height: 65px;
  }

  .key kbd {
    font-size: 25px;
  }

  .key span {
    font-size: 15px;
  }
}
